
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Trebuchet MS", sans-serif;
}

body{
	background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
}


.header{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	margin-bottom: 25px;
	box-shadow: 0 10px 30px rgb(41, 152, 216);
	background-color: rgb(41, 152, 216) ;
}

.row-zero{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}


.row-zero img{
	width: 200px;
	height: 70px;
	transform: rotate(-5deg);	
}

.invisible-img{
	visibility: hidden;
}

.welcome-containter{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;	
	width: auto;	
}



/*The body*/
.root-container{
	padding-top: 5vh;
	padding-bottom: 5vh;
	border-style: solid;
	border-color: transparent;
	border-width: 1px;	
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	background-image: url('../img/img3.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	opacity: 0.8;
}


.main-container{
	width: 770px;
}

.writer-type-img img{
	width: 10px;
}

/*control btn*/
.control-bnt-container{
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start;
}

.size-text-container, 
.position-text-container{
	margin-left: 40px;
}


.size-text-container input{
	width: 35px;	
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.type-text-container #text-list{
	border-style: solid;
	border-color: rgb(220, 220, 220);
	border-width: 1px;
}


#toLeft,
#center,
#toRight{
	margin-left: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
}

#toLeft:hover,
#center:hover,
#toRight:hover{
	background-color: #aaa;
}


.editor-container{
	width: 100%;
	height: 150px;
	background-color: black;
	display: grid;	
	grid-template-columns: auto;
}

.editor-container textarea{

	padding: 5px;
	resize: none;	
	border-style: solid;
	border-width: 1px;
	font-size: 18px;
	text-justify:  inter-word;
	font-family: "Arial", sans-serif;
}

.editor-container textarea:focus{
	outline: none !important;
    border-color: black;
}

.keyboard-containter{
	border-color: transparent;
	border-style: solid;
	border-width: 1px;	
	/* margin-right: 1px; */
	/* padding-left: -2px; */
	/* margin-top: 5px; */
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: auto 40px;
	background-color: transparent;
}


.mines-plus-enter-btn{
	display: grid;
	grid-template-rows: 40px auto auto;
	width: 41px;
	/* margin-right: 2px; */
}

.first-range{
	/* margin-top: 2px; */
	display: grid;
	grid-template-columns: 30px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 100px 40px 40px 40px; 
} 


.sec-range{
	/* margin-top: 2px; */
	display: grid;
	grid-template-columns: 60px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 70px 40px 40px 40px;
} 

.third-range{
	/* margin-top: 2px; */
	display: grid;
	grid-template-columns: 70px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 60px 40px 40px 40px;
} 

.forth-range{
	/* margin-top: 2px; */
	display: grid;
	grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 130px  40px 40px 40px;
}

.fifth-range{
	/* margin-top: 2px; */
	display: grid;
	grid-template-columns: 40px 40px 40px 40px 200px 40px 40px 40px 130px 80px 40px;
	/* margin-bottom: 2px; */
}

.caracter-btn{
	background-color: #eee;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	/* margin-left: 2px; */
	text-align: center;	
	height: 40px;
}

.caracter-btn-2{
	background-color: #eee;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	/*border-radius: 20%;*/
	/* margin-left: 2px; */
	text-align: center;	
}

.caracter-btn:hover, 
.caracter-btn-2:hover
{
	background-color: #ddd;
}


.arrows-container{
	display: grid;
	grid-template-columns: 43px 43px 43px;
}


.disabled-btn{
	border-width: 0px;	
	background-color: transparent;
	border-style: solid;
	/* margin-left: 2px; */
	visibility: hidden;
}


.copyright{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: rgba(156,252,248,0.7);
	margin-top: 20vh;
}




